<header>
    <nav>
        <h1>Sample Header and {{ pageTitle }}</h1>
        <p>
            <a href="/">Home</a>
            <a href="/about">About</a>
        </p>
        <!-- #endregion -->
    </nav>
</header>